# Défi Santé — Variables d'environnement
# Copiez ce fichier en .env et ajustez les valeurs

POSTGRES_DB=defisante
POSTGRES_USER=defisante_user
POSTGRES_PASSWORD=defisante_pass

FLASK_ENV=development
FLASK_DEBUG=1

# pgAdmin (profil dev seulement)
PGADMIN_EMAIL=admin@defisante.local
PGADMIN_PASSWORD=admin
